/* Estilos generales */
body {
    font-family: 'MuseoModerno', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Estilo de fondo con imagen */
.background-image {
    background-image: url('/static/img/uploads/fondo-ruta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Estilo para el formulario de inicio de sesión */
.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo opaco */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 16px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

/* Estilo del título en el formulario de inicio de sesión */
.login-form-title {
    text-align: center;
    color: red;
    font-size: 26px;
    padding: 70px 0 10px 0;
}

/* Estilo de las cajas de entrada en el formulario de inicio de sesión */
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 15px; /* Borde redondeado */
    box-sizing: border-box;
}

/* Estilo del botón de inicio de sesión */
.btn-login {
    width: 100%;
    padding: 15px;
    background-color: rgb(196, 16, 16);
    border: 0;
    border-radius: 15px; /* Borde redondeado */
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    text-decoration: none;
}

/* Estilos para el botón de inicio de sesión al interactuar con él */
.btn-login:hover, .btn-login:active {
    color: #ffffff;
    background-color: rgb(196, 16, 12);
    border-color: black;
}

.btn-login:focus {
    box-shadow: 0 0 0 3px rgba(122, 7, 7, 0.25);
}
