
/* Estilos para el página de información (info.html) */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'MuseoModerno', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: white;
  overflow-x: hidden; 
  
}

/* Estilos para la barra de navegación en pantallas pequeñas */
@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  .navbar-nav.ml-auto .nav-item.ml-auto {
    margin-left: 0; /* Elimina el margen izquierdo en los elementos de navegación */
  }
}

.custom-body {
  background-color: #f0f0f0; 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FF9777' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF9777' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  color: #333; 
  overflow-x: hidden;
  
}
/* Animación de entrada desde la izquierda */
@keyframes entradaDesdeIzquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estilos para el contenido principal */
main {
  animation: entradaDesdeIzquierda 1.5s ease; 
  animation-fill-mode: both;
}

/* Estilos para el contenedor principal de "Quiénes Somos" y "Nuestro Equipo" con el mismo fondo */
.main-container {
  background-image: url('/static/img/uploads/fondo-ruta.jpg');
  background-size: cover;
  background-position: center;
  color: #740000;
  text-align: center;
  padding: 50px 0;
  position: relative;
  border-radius: 0 0 20px 20px;
}

/* Estilos para el contenido de "Quiénes Somos" dentro del contenedor principal */
.quienes-somos-content {
  background: rgba(0, 0, 0, 0.);
  padding: 20px;
  border-radius: 10px;
  color: #ff0000; }
  .quienes-somos-section {
    background-color: rgba(255, 255, 255, 0.4); 
    max-width: 800px; 
  margin: 0 auto; 
    padding: 20px;
    border-radius: 16px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  


#quienes-somos p {
  font-weight: bold;
  text-shadow: 2px 2px 4px #ff0000;
}

/* Entrada dinámica de tarjetas redondas del equipo */
@keyframes entradaMiembro {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.miembro:nth-child(1) {
  animation: entradaMiembro 1s ease-in-out 0.5s; /* primera imagen 0.5 s */
  animation-fill-mode: both;
}

.miembro:nth-child(2) {
  animation: entradaMiembro 1s ease-in-out 1s;
  animation-fill-mode: both;
}

.miembro:nth-child(3) {
  animation: entradaMiembro 1s ease-in-out 1.5s;
  animation-fill-mode: both;
}

.miembro:nth-child(4) {
  animation: entradaMiembro 1s ease-in-out 2s;
  animation-fill-mode: both;
}

.miembro:nth-child(5) {
  animation: entradaMiembro 1s ease-in-out 2.5s;
  animation-fill-mode: both;
}

/* Estilos para el contenido de "Nuestro Equipo" */
.equipo {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #7e6464;
}

.equipo h2 {
  margin-top: 20px;
  color: #8a130b;
}

.miembro {
  margin: 20px;
  flex: 0 0 calc(20% - 40px);
  text-align: center;
  color: #5e1301;
}
.miembrox p {
  color: #ff0000;
}
p {
  margin-top: 10px;
  color: #a79f9f; 
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ffffff;
  box-shadow: 3px 3px 10px rgb(255, 255, 255);
  margin: 0 auto;
}

.circulo img {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  object-fit: cover;
  transition: transform 0.3s ease; 
}
.circulo img:hover {
  transform: rotate(340deg);
}
p {
  margin-top: 10px;
  color: #ff3333; 
}

/* Estilos generales para otras secciones */
.section {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #330303; 
}

p {
  font-size: 18px;
  color: #050101; 
  line-height: 1.5;
}

/* tarjetas de clientes review estatica */
.testimonio-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0; /* Reduce el margen vertical para dispositivos móviles */
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

/* Agrega estilos para el estado inactivo (no hover) */
.testimonio-card:not(:hover) {
  transform: scale(1); /* Restablece el tamaño en estado inactivo */
}

.testimonio p {
  font-size: 16px;
  color: #333;
  text-align: center; /* Centra el texto en dispositivos móviles */
  margin-bottom: 10px; /* Agrega espacio entre párrafos */
}

.testimonio p:last-child {
  font-style: italic;
  color: #666;
}

/* Alinea el texto de la firma al centro y agrega espacio inferior */
.testimonio p:last-child {
  text-align: center;
  margin-bottom: 20px;
}
#form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 197, 197, 0.4);
  transition: background-color 0.4s; 
}

#form:hover {
  background-color: #beabab; 
}

#form label {
  display: block;
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

#form input[type="text"],
#form input[type="email"],
#form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 16px;
}

#button {
  width: 100%;
  padding: 15px;
  background-color: #cc3333;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button:hover {
  background-color: #ff3333;
}

/* Estilos para la calificación de estrellas */
.rating {
  font-size: 24px; /* Tamaño de las estrellas */
}

.star {
  color: #ffcc00; /* Color de las estrellas (amarillo en este caso) */
  margin-right: 5px; /* Espacio entre las estrellas */
}

/* pantallas  */


/* Estilos para las secciones como-funciona */

/* Contenedor para los elementos */

.como-funciona-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para los divs como-funciona */
.como-funciona-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
  transition: background-color 0.4s;
  color: #ffffff;
  width: 40%; 
  height: 90%; /* Ajusta altura */
  margin-right: 200px; /* Ajusta el espacio entre los divs */
  margin: 0 auto; /* Centra horizontalmente */
  align-self: center; /
}

@media only screen and (max-width: 768px) {
  .como-funciona-container {
    flex-direction: column;
    align-items: center;
  }

  .como-funciona-card {
    width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .como-funciona-card {
    width: 100%;
  }
}
.img-fondo {
  background-color: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(2px); 
  border-radius: 19px;
  
}

#publicar-auto {
  background: url('/static/img/uploads/fondo-como-fun.jpg') center/cover no-repeat; 
}

#publicar-auto{
  margin-right: auto;
}

#buscar-auto {
  background: url('/static/img/uploads/carcomo.jpg') center/cover no-repeat; 
}


/* Estilo para el div mediafrase */
.mediafrase {
  text-align: center;
  margin: 20px 0;
}
.mediafrase {
  padding-top: 20px;    
  padding-bottom: 20px;
}

h2 {
  color: rgb(255, 0, 0); 
}

.como-funciona-card p {
  color: rgb(252, 255, 216);
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

/* titulos tarjetas como funciona */.titulo-contenedor {
  overflow: hidden;
  position: relative; /* Añadido para asegurar posición relativa */
}

.titulo-llamativo {
  color: #ff0000;
  font-size: 2em;
  margin-bottom: 10px;
}

.titulo-llamativo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px; 
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.12) 2%, rgba(255, 0, 0, 0) 22%);
  animation: movimientoReflejo 9s linear infinite;
}

@keyframes movimientoReflejo {
  0% {
    transform: translateX(-88%);
  }
  100% {
    transform: translateX(78%);
  }
}

/* body para el fondo personalizado */
.custom-background-ver {
  background-color: #333333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD0000'/%3E%3Cstop offset='1' stop-color='%23333333'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.vehiculos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Estilos para cada tarjeta de vehículo */
.vehiculo-card {
  background-color: rgba(255, 255, 255, 0.3); 
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
}

.vehiculo-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.vehiculo-card h3 {
  font-size: 18px;
  margin: 0;
}

/* Estilos para los botones dentro de las tarjetas */
.vehiculo-card button {
  margin: 5px;
}
.btn-primary {
  background: green; 
  color: white; 
}


.btn-danger {
  background: #030303; 
  color: white; 
}


/* Cambia el color de fondo y texto del botón "Ver Vehículo" cuando pasas el mouse sobre él */
.btn-primary:hover {
  background: green; 
  color: black; 
}

/* Cambia el color de fondo y texto del botón "Editar Vehículo" cuando pasas el mouse sobre él */
.btn-secondary:hover {
  background: red;
  color: rgb(221, 221, 221); 
}

/*  tamaño de los botones */
.btn-primary,
.btn-secondary {
  font-size: 14px; 
  padding: 5px 10px; 
  margin: 0 5px; 
}

/* texto entre tarjetas como funciona */

.mediafrase {
  text-align: center;
  color: white;
}

.mediafrasecustomtext {
  font-size: 22px;
  color: white;
  opacity: 0; 
  animation: fade-in 1.5s ease-in-out 2s forwards; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Estilo para el footer de info  */
footer {
  background: rgba(51, 51, 51, 0.7); 
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: 'MuseoModerno', sans-serif;
  font-size: 14px;
  background: linear-gradient(to bottom, #888 50%, #000000 50%);
  margin-left: -50vw; 
  margin-right: -50vw; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-radius: 70% 1% 0 0 / 100% 100% 0 0;
  position: relative;
}



footer p, footer small {
  margin: 0;
  padding: 12px;
}

/* Estilo para el footer en Como Funciona */
.footer-comofunciona {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 50%, #000000 50%);
  color: #fff;
  padding: 9px 0;
  text-align: center;
  font-family: 'MuseoModerno', sans-serif;
  margin-left: -50vw;
  margin-right: -50vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 70% 1% 0 0 / 100% 100% 0 0;
}
.footer-comofunciona p, .footer-comofunciona small {
  margin: 0;
  padding: px;
  font-size: 20px;
}

.footer-comofunciona  a {
  color: red; 
  text-decoration: none; 
}

.footer-comofunciona  a:hover {
  text-decoration: underline; 
}