
/* Estilos para el página de información (info.html) */
body {
  font-family: 'MuseoModerno', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: white;
  overflow-x: hidden; 
}

/* Estilos para la barra de navegación en pantallas pequeñas */
@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  .navbar-nav.ml-auto .nav-item.ml-auto {
    margin-left: 0; /* Elimina el margen izquierdo en los elementos de navegación */
  }
}

.custom-body {
  background-color: #f0f0f0; 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FF9777' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF9777' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  color: #333; 
  overflow-x: hidden;
  
}
/* Animación de entrada desde la izquierda */
@keyframes entradaDesdeIzquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estilos para el contenido principal */
main {
  animation: entradaDesdeIzquierda 1.5s ease; 
  animation-fill-mode: both;
}

/* Estilos para el contenedor principal de "Quiénes Somos" y "Nuestro Equipo" con el mismo fondo */
.main-container {
  background-image: url('/static/img/uploads/fondo-ruta.jpg');
  background-size: cover;
  background-position: center;
  color: #740000;
  text-align: center;
  padding: 50px 0;
  position: relative;
  border-radius: 0 0 20px 20px;
}

/* Estilos para el contenido de "Quiénes Somos" dentro del contenedor principal */
.quienes-somos-content {
  background: rgba(0, 0, 0, 0.);
  padding: 20px;
  border-radius: 10px;
  color: #ff0000; }
  .quienes-somos-section {
    background-color: rgba(255, 255, 255, 0.4); 
    max-width: 800px; 
  margin: 0 auto; 
    padding: 20px;
    border-radius: 16px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  


#quienes-somos p {
  font-weight: bold;
  text-shadow: 2px 2px 4px #ff0000;
}

/* Entrada dinámica de tarjetas redondas del equipo */
@keyframes entradaMiembro {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.miembro:nth-child(1) {
  animation: entradaMiembro 1s ease-in-out 0.5s; /* primera imagen 0.5 s */
  animation-fill-mode: both;
}

.miembro:nth-child(2) {
  animation: entradaMiembro 1s ease-in-out 1s;
  animation-fill-mode: both;
}

.miembro:nth-child(3) {
  animation: entradaMiembro 1s ease-in-out 1.5s;
  animation-fill-mode: both;
}

.miembro:nth-child(4) {
  animation: entradaMiembro 1s ease-in-out 2s;
  animation-fill-mode: both;
}

.miembro:nth-child(5) {
  animation: entradaMiembro 1s ease-in-out 2.5s;
  animation-fill-mode: both;
}

/* Estilos para el contenido de "Nuestro Equipo" */
.equipo {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #7e6464;
}

.equipo h2 {
  margin-top: 20px;
  color: #8a130b;
}

.miembro {
  margin: 20px;
  flex: 0 0 calc(20% - 40px);
  text-align: center;
  color: #5e1301;
}
.miembrox p {
  color: #ff0000;
}
p {
  margin-top: 10px;
  color: #a79f9f; 
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ffffff;
  box-shadow: 3px 3px 10px rgb(255, 255, 255);
  margin: 0 auto;
}

.circulo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; 
}
.circulo img:hover {
  transform: rotate(340deg);
}
p {
  margin-top: 10px;
  color: #ff3333; 
}

/* Estilos generales para otras secciones */
.section {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #330303; 
}

p {
  font-size: 18px;
  color: #050101; 
  line-height: 1.5;
}

/* tarjetas de clientes review estatica */
.testimonio-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; 
  }
  
  .testimonio-card:hover {
    transform: scale(1.05); 
  }

.testimonio p {
  font-size: 16px;
  color: #333;
}

.testimonio p:last-child {
  font-style: italic;
  color: #666;
}

#form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 197, 197, 0.4);
  transition: background-color 0.4s; 
}

#form:hover {
  background-color: #beabab; 
}

#form label {
  display: block;
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

#form input[type="text"],
#form input[type="email"],
#form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 16px;
}

#button {
  width: 100%;
  padding: 15px;
  background-color: #cc3333;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button:hover {
  background-color: #ff3333;
}

/* Estilos para la calificación de estrellas */
.rating {
  font-size: 24px; /* Tamaño de las estrellas */
}

.star {
  color: #ffcc00; /* Color de las estrellas (amarillo en este caso) */
  margin-right: 5px; /* Espacio entre las estrellas */
}




/* Estilos para las secciones como-funciona */
.como-funciona-card {
  position: relative; /* Necesario para el uso de pseudo-elemento ::before */
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.4s;
  color: #fff;
}

h2 {
  color: rgb(255, 0, 0); 
}

.como-funciona-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/static/img/uploads/comoroute2.jpg'); 
  background-color: rgba(0, 0, 0, 0.001);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: -1; 
} 

.como-funciona-card p {
  color: #fdffe9c0;
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
/* destellos */
.como-funciona-card span {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  color: #fff78c; 
}

/* destello en cards */@keyframes destello {
    0% {
      text-shadow: 0 0 15px rgba(250, 194, 73, 0.8);
      color: #fff;
  }
  25% {
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
      color: #d6b637;
  }
  50% {
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.8); 
      color: #fff; 
  }
  75% {
      text-shadow: 0 0 15px rgba(165, 159, 159, 0.8);
      color: #e7d489; 
  }
  100% {
      text-shadow: 0 0 15px rgba(252, 121, 121, 0.8);
      color: #f59d9d; 
  }
}

.como-funciona-card span {
  animation: destello 2 infinite; 
}


.como-funciona-card span {
  animation: destello 3s infinite; /* Aplica la animación de destello */
}


/* Define la animación */
@keyframes entradaDesdeAbajo {
  from {
    transform: translateY(100%); /* Empieza fuera de la vista, debajo */
  }
  to {
    transform: translateY(0); /* Termina en su posición normal */
  }
}

/* Aplica la animación a las tarjetas */
.como-funciona-card {
  animation: entradaDesdeAbajo 1s ease forwards;
}

/* Establece un retraso para que las tarjetas entren una por una */
.como-funciona-card:nth-child(1) {
  animation-delay: 1.5s; 
}

.como-funciona-card:nth-child(1) {
  animation-delay: 1.7s; 
}

/* slider estrellas en como-funciona */
.star-slider {
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  width: 100%;
}
.star {
  font-size: 24px;
  color: gold;
  display: inline-block;
  margin: 0 20px;
}

/* slider frases en como-funciona */

.testimonial-title, .testimonial-slide p {
  color: #fff; 
}

.testimonial-title {
  text-align: center;
  font-size: 16px; 
  color: white;
  position: relative;
  margin-top: -11px;
}

.testimonial-title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px; /* Ajusta el grosor de la línea, por ejemplo, 2px para hacerla más fina */
  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.7) 100%);
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-150%);
    background-position: 200% 0;
  }
  100% {
    transform: translateX(150%);
    background-position: -200% 0;
  }
}

.testimonial-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.testimonial-slide {
  display: none;
  font-size: 16px; /* Ajusta el tamaño del texto a tu preferencia */
  color: white;
}

/* Estilo mis-vehiculos.html */


/* body para el fondo personalizado */
.custom-background-ver {
  background-color: #333333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD0000'/%3E%3Cstop offset='1' stop-color='%23333333'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.vehiculos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Estilos para cada tarjeta de vehículo */
.vehiculo-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.vehiculo-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.vehiculo-card h3 {
  font-size: 18px;
  margin: 0;
}

/* Estilos para los botones dentro de las tarjetas */
.vehiculo-card button {
  margin: 5px;
}
.btn-primary {
  background: green; 
  color: white; 
}


.btn-danger {
  background: #030303; 
  color: white; 
}


/* Cambia el color de fondo y texto del botón "Ver Vehículo" cuando pasas el mouse sobre él */
.btn-primary:hover {
  background: green; 
  color: black; 
}

/* Cambia el color de fondo y texto del botón "Editar Vehículo" cuando pasas el mouse sobre él */
.btn-secondary:hover {
  background: red;
  color: rgb(221, 221, 221); 
}

/*  tamaño de los botones */
.btn-primary,
.btn-secondary {
  font-size: 14px; 
  padding: 5px 10px; 
  margin: 0 5px; 
}

/* boton auto en como funciona */
.hidden {
  display: none;
}

.menu {
  position: absolute;
  top: 283px; /*  conjunto de botones hacia abajo */
  left: 935px; /*  posición horizontal del conjunto */
}

#toggle-btn,
.menu a {
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 50%;
  top: 0; 
  left: 0; 
  transition: 0.5s;
  animation: aparecer 2s 2s;
}

.menu a {
  background-color: #333030;
  height: 40px;
  width: 40px;
  font-size: 22px;
  text-decoration: none;
  top: 0; 
  left: 0; 
  transition: 0.5s;
}

.menu a i {
  color: #eeff00;
}

#toggle-btn {
  background-color: #fffafa;
  color: #ff0000;
  height: 55px;
  width: 55px;
  border: none;
  font-size: 35px;
  top: 0; 
  left: 0; 
  transition: 0.3s;
  cursor: pointer;
}

.active {
  transform: rotate(45deg);
}

.menu:not(.active) a[href*="#contacto"] {
  top: 0; 
  left: 0; 
}



/* Estilo para el footer de info  */
footer {
  background: rgba(51, 51, 51, 0.7); 
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: 'MuseoModerno', sans-serif;
  font-size: 14px;
  background: linear-gradient(to bottom, #888 50%, #000000 50%);
  margin-left: -50vw; 
  margin-right: -50vw; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-radius: 70% 1% 0 0 / 100% 100% 0 0;
}

footer p, footer small {
  margin: 0;
  padding: 12px;
}

/* Estilo para el footer en Como Funciona */
.footer-comofunciona {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 50%, #000000 50%);
  color: #fff;
  padding: 9px 0;
  text-align: center;
  font-family: 'MuseoModerno', sans-serif;
  margin-left: -50vw;
  margin-right: -50vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 70% 1% 0 0 / 100% 100% 0 0;
}
.footer-comofunciona p, .footer-comofunciona small {
  margin: 0;
  padding: px;
  font-size: 20px;
}

.footer-comofunciona  a {
  color: red; 
  text-decoration: none; 
}

.footer-comofunciona  a:hover {
  text-decoration: underline; 
}