/* Estilos formulario registarse  */
body {
  font-family: 'MuseoModerno', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  .navbar-nav.ml-auto .nav-item.ml-auto {
    margin-left: 0;
  }
}

/* aujsta div que el index hereda de base.html */
.index-container {
  margin: 0;
  padding: 0;
 
}


/* Home div oculto, show in scroll - Estilo inicial para el div oculto */
#divOculto {
  text-align: center;
  position: sticky;
  bottom: 20px;
  right: 22px;
  background-color: #fff;
  padding: 20px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1.1s ease;
  max-height: 50vh;
  overflow-y: auto;
}

#divOculto.aparecido {
  opacity: 1;
}
#divOculto .message-box {
  background-color: #fff;
  padding: 20px;
}


/* Estilo para las tarjetas de autos en el home  flip card-info*/
.cardsgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.auto {
  width: calc(33.33% - 20px);
  margin: 10px;
  perspective: 1000px;
  border-radius: 10px; /* Aplica el redondeo al div */
  background: transparent; 
}

.auto * {
  border-radius: 10px; 
}
.auto img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 45px;
  background: none; 
}
.auto-inner {
  width: 100%;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.auto:hover .auto-inner {
  transform: rotateY(180deg);
}

.auto-front,
.auto-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.auto-front {
  width: 100%;
  height: 100%;
  background-color: #fff; /* Color de fondo para la parte frontal */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s; /* Transición de color de fondo al pasar el mouse */
}

.auto-front img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.auto:hover .auto-front {
  background-color: #f2f2f2; /* Cambia el color de fondo al pasar el mouse */
}


.auto-back {
  transform: rotateY(180deg); /* Inicialmente oculta la parte trasera */
  background-image: url('/static/img/uploads/backcard.jpg');
  background-color: rgba(255, 255, 255, 0.6); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-weight: bold; 
  text-align: center;
  text-shadow: 2px 2px 10px rgb(255, 0, 0);
 
}

.auto-back h2 {
  margin: 10px 0; 
  font-size: 20px; 
}

.auto:hover .auto-back {
  opacity: 1; 
}


/* Estilo  frase red en div scroll */

.impulso-paragraph {
  color: red;
  font-weight: 400;
  font-size: 20px;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    color: red;
    text-shadow: none;
  }
  
  100% {
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
}

  
/* Etilo borde caja login e inicar sesion */
.login-form {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.8); /* Fondo opaco */
  padding: 16px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%); 
}


/* Estilo del contenedor principal (login y contenedor) */
.login-form, .contenedor {
  width: 300px;
  margin: 0 auto;
  max-width: 400px; 
  margin: 0 auto;
  max-height: 978px;
}

/* Imagen fondo de sección registro y login */
.login-page-regis {
  background-image: url('/static/img/uploads/fondo-ruta.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* Estilo del título en el formulario de registro */

/* body custom  registro */

.body-resgistro{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD0000'/%3E%3Cstop offset='1' stop-color='%23333333'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.login-form h1 {
  text-align: center;
  color: red; 
  font-size: 26px;
  padding: 70px 0 10px 0;
}

.login-form {
  text-align: center; 
}

/* Cambia el color del botón "Iniciar Sesión" a negro */
.btn-login-custom {
  background-color: black;
  color: white;
}


/* Cambia el color del botón "Iniciar Sesión" al pasar el mouse por encima a rojo */
.btn-login-custom:hover {
  background-color: red;
  color: white; 
}

/* Cambia el color del botón "Registrarse" al pasar el mouse por encima a rojo */
.btn-register-custom:hover {
  background-color: red;
  color: white; 
}

/* Estilo de las cajas de entrada en el formulario de registro */
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilo para la caja de fecha en el formulario de registro */
.login-form input[type="date"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilo para la caja de selección de departamento en el formulario de registro */
.login-form select[name="department"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; 
  box-sizing: border-box;
}

/* Estilos para la barra */
.headernavred {
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 73px;
}
/* Estilo para centrar el texto de la headernavred */

.centered-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

/* Estilo para el botón */
.openFiltersButton {
  border-radius: 20px; 
  margin-top: 10px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  
}
.container{
  max-width: 100%;
}
/* Estilo del botón de registro e inicio de sesión */
.btn-login, .btn-register {
  width: 100%;
  padding: 15px;
  background-color: rgb(196, 16, 16);
  border: 0;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  margin-top: 20px;
  /* Apariencia del botón */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.logo {
  color: red; /* Cambia el color a rojo */
  text-decoration: none; /* Quita la subrayado de los enlaces */
}

.logo:hover {
  color: black; /* Cambia el color a negro al pasar el mouse por encima */
  text-decoration: none; /* Quita la línea subrayada al pasar el mouse por encima */
}
/* Estilos para el botón de registro e inicio de sesión al interactuar con ellos */

.btn-login:hover, .btn-login:active, .btn-register:hover, .btn-register:active {
  color: #ffffff;
  background-color: rgb(196, 16, 12);
  border-color: black;
}

.btn-login:focus, .btn-register:focus {
  box-shadow: 0 0 0 3px rgba(122, 7, 7, 0.25);
}

/* Ya tengo cuenta, clickea para registrarse form */
.singin-yatengocuenta {
  margin: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.singin-yatengocuenta p {
  font-size: 13px;
  font-weight: 470;
  margin: 0;
  color: #222;
}

.singin-yatengocuenta a {
  font-size: 13px;
  letter-spacing: .5px;
  margin-left: 5px;
  text-decoration: none;
  line-height: 1;
  font-weight: 470;
  color: blue;
}



/* Estilos para el fondo de la página de agregar auto */
.fondo-agregar-auto {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FF9777' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF9777' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

/* borde redndo agregar auto caja con fondo  */
body.fondo-agregar-auto .login-page-regis {
  border-radius: 20px;
  overflow-x: hidden;
}

/* div agregar auto centered-container*/
.centered-container{
  height: 1170px;  /*  largo del div agregar auto*/
}


/* Estilo personalizado para la barra de navegación base.html */
.custom-navbar {
  background-color: rgb(219, 12, 12) !important;
  font-size: 18px; 
}

.navbar.custom-navbar {
  background-color: rgb(219, 12, 12) ;
}

/*  enlaces sean blancos */
.navbar.custom-navbar .nav-item.nav-link {
  color: white;
}

/* Cambia el color de los enlaces al pasar el mouse por encima */
.navbar.custom-navbar .nav-item.nav-link:hover {
  color: black; 
}


/* animacion div cargar auto */

.form-floating-container {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 1s ease-in-out;
}

.form-floating {
  position: relative;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.form-floating-show {
  opacity: 1;
  transform: translateY(0);
}

.login-page-regis-agregar{
  height: 30px;
}

/* Estil slider carrusel autos */

/* Estilo para las diapositivas */
.slide {
  flex: 0 0 100%; /* Ancho igual al ancho de la pantalla */
  max-width: 100%;
  height: auto; /* Altura automática para mantener la proporción original */
}

/* Estilo para el contenedor del slider */
.slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}


.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  margin: 0 !important;
  object-fit: cover;
  scroll-snap-align: center;
}

/* Establece tamaño máximo para las imágenes */
.slider {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%; /* Ancho igual al ancho de la pantalla */
}

/* Estilo para cada diapositiva */
.slide img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.text-container {
  position: relative;
  text-shadow: 1px 1px 2px rgb(80, 74, 74);
  z-index: 2; /* el texto esté en una capa superior */
  top: -252px; /* ajustar el indice donde aparece */
  text-shadow: 1px 1px 2px rgb(43, 39, 39);
  color: white; 
}

.text-overlay {
  background: rgba(66, 64, 64, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay-text {
  font-size: 24px;
  padding: 10px;
}
/* Estilo filtro pop-up home */
#filtersPopup {
  display: none; /* Oculta el filtro por defecto */
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}


.custom-alert-content {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 100px;
  max-width: 680px;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Botones dentro de la alerta personalizada */
.custom-alert-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(196, 16, 16);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

/* Estilo de botones al pasar el mouse */
.custom-alert-content button:hover {
  background-color: black;
}


/* Estilo para la pagina Resultados - re size imgs*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.auto {
  width: 350px;
  margin: 10px;
  text-align: center;
}

.auto img {
  max-width: 100%;
  height: 300px; /* Ajusta la altura de las imágenes según tus preferencias */
  object-fit: cover;
  border-radius: 10%;
}


/* Estilos para la galería de imágenes  en ver-auto.html luego de resulatod de busqueda -> ver auto*/
ul.image-gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.image-gallery li {
  width: 200; /* Ancho para cada imagen */
  margin: 10px;
  text-align: center;
}

ul.image-gallery img {
  max-width: 100%;
  height: auto; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



/* Estilo para ver-auto.html*/

/* Estilos para el contenedor principal */
.car-details-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 75%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4); 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;  /* mantiene todo al margane del div, include footer */
}
/* body para el fondo personalizado */
.custom-background-ver {
  background-color: #333333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD0000'/%3E%3Cstop offset='1' stop-color='%23333333'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}


/* Estilo para el título del automóvil */
.car-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para el contenedor de botones */
.buttons-container {
  margin-bottom: 20px;
}

/* Estilos para los detalles del automóvil */

/* Estilos para los detalles del automóvil en una tarjeta */
 .car-card {
  background-color: rgba(255, 255, 255, 0.295);
  border: none;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: scale(1);
  border-radius: 14px;
  transition: transform 0.3s;
}

.car-card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.car-card ul {
  list-style: none;
  padding: 0;
}

.car-card li {
  margin: 5px 0;
  font-weight: bold;
}

/* Efecto de acercamiento al pasar el cursor sobre la tarjeta */
.car-card:hover {
  transform: scale(1.05);
}
.car-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.car-info {
  flex: 1;
}

/* Estilos para los detalles del automóvil */
.car-info ul {
  list-style: none;
  padding: 0;
}

.car-info li {
  margin: 5px 0;
  font-weight: bold;
}

.car-image {
  flex: 1;
  text-align: center;
  margin-top: 20px;
}


/* Estilos para el contenedor de imágenes del vehículo */
.car-image-gallery {
  margin-top: 20px;
}

/* Estilos para la galería de imágenes */
.image-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery li {
  margin: 5px;
}

.image-gallery img {
  max-width: 100%;
  max-height: 250px;
  height: auto;
}


/* Estilos para los botones */
.btn {
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-danger {
  background-color: #ff3333;
}

.btn-primary-ver {
  background-color: #33cc33;
}

/* Estilos para los campos de formulario */
form input[type="date"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}

/* Estilos para la sección de mensajes y alquiler */
.message-rent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilos para el contenedor de fechas */
.date-container {
  display: flex;
  justify-content: space-between;
}

.date-container .form-group {
  flex: 1;
  margin-right: 10px;
}

.date-container label {
  display: block;
  margin-bottom: 5px;
}


/* Estilos para el contenedor de fechas */
.date-container {
  display: flex;
  justify-content: space-between;
}

.date-container .form-group {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
}

.date-container label {
  margin-bottom: 5px;
}

/* Estilos para el contenedor de fechas */
.date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date-container .form-group {
  flex: 1;
}

.date-container label {
  display: block;
  margin-bottom: 5px;
}


/* Estilos para el contenedor de fechas */
.date-container {
  margin-bottom: 20px; /* Agrega espacio entre las cajas de fecha */
}

.date-container .form-group {
  margin-bottom: 10px; /* Espacio entre las cajas de fecha y las etiquetas */
}

.date-container label {
  display: block;
  margin-bottom: 5px;
}


/* Estilos para el contenedor de fechas */
.date-container {
  margin-bottom: 20px;
}

.date-container .form-group {
  margin-bottom: 10px;
}

/* Estilos para las etiquetas más pequeñas */
.small-label {
  font-size: 9px; 
}

/* Estilos para las cajas de fecha */
form input[type="date"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border 0.2s;
}

/* Estilos cuando se enfoca en la caja de fecha */
form input[type="date"]:focus {
  border: 1px solid #33cc33;
  outline: none;
}


h6{
  color:#ffffff;
}
/* Estilo para el footer */
footer {
  background-color: rgba(248, 239, 239, 0.1); 
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: 'MuseoModerno', sans-serif;
  font-size: 14px;
  background: linear-gradient(to bottom, #888 50%, #000000 50%);
  margin-left: -50vw; 
  margin-right: -50vw; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-radius: 70% 1% 0 0 / 100% 100% 0 0;
  position: relative;
  
  }

footer p, footer small {
  margin: 0;
  padding: 5px;
}/* Estilo para los enlaces en el footer */
footer a {
  color: red; 
  text-decoration: none; 
}

footer a:hover {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}

