/* Estilos formulario registarse  */
body {
  font-family: 'MuseoModerno', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  .navbar-nav.ml-auto .nav-item.ml-auto {
    margin-left: 0;
  }
}

/* aujsta div que el index hereda de base.html */
.index-container {
  margin: 0;
  padding: 0;
 
}

/* Etilo borde caja login e inicar sesion */
.login-form {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.8); /* Fondo opaco */
  padding: 16px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%); /* Degradado lineal */
}

/* Estilo del contenedor principal (login y contenedor) */
.login-form, .contenedor {
  width: 300px;
  margin: 0 auto;
  max-width: 400px; 
  margin: 0 auto;
  max-height: 905px;
}

/* Imagen fondo de sección registro y login */
.login-page-regis {
  background-image: url('/static/img/uploads/fondo-ruta.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* Estilo del título en el formulario de registro */
.login-form h1 {
  text-align: center;
  color: red; /* Cambiamos el color del título a rojo */
  font-size: 26px;
  padding: 70px 0 10px 0;
}

/* Estilo de las cajas de entrada en el formulario de registro */
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilo para la caja de fecha en el formulario de registro */
.login-form input[type="date"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilo para la caja de selección de departamento en el formulario de registro */
.login-form select[name="department"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilos para la barra */
.headernavred {
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
/* Estilo para centrar el texto de la headernavred */

.centered-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

/* Estilo para el botón */
.openFiltersButton {
  border-radius: 20px; 
  margin-top: 10px; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* Estilo del botón de registro e inicio de sesión */
.btn-login, .btn-register {
  width: 100%;
  padding: 15px;
  background-color: rgb(196, 16, 16);
  border: 0;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  margin-top: 20px;
  /* Apariencia del botón */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.logo {
  color: red; /* Cambia el color a rojo */
  text-decoration: none; /* Quita la subrayado de los enlaces */
}

.logo:hover {
  color: black; /* Cambia el color a negro al pasar el mouse por encima */
  text-decoration: none; /* Quita la línea subrayada al pasar el mouse por encima */
}
/* Estilos para el botón de registro e inicio de sesión al interactuar con ellos */

.btn-login:hover, .btn-login:active, .btn-register:hover, .btn-register:active {
  color: #ffffff;
  background-color: rgb(196, 16, 12);
  border-color: black;
}

.btn-login:focus, .btn-register:focus {
  box-shadow: 0 0 0 3px rgba(122, 7, 7, 0.25);
}

/* Ya tengo cuenta, clickea para registrarse form */
.singin-yatengocuenta {
  margin: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.singin-yatengocuenta p {
  font-size: 13px;
  font-weight: 470;
  margin: 0;
  color: #222;
}

.singin-yatengocuenta a {
  font-size: 13px;
  letter-spacing: .5px;
  margin-left: 5px;
  text-decoration: none;
  line-height: 1;
  font-weight: 470;
  color: blue;
}



/* Estilos para el fondo de la página de agregar auto */
.fondo-agregar-auto {
  background: linear-gradient(0deg, #000000, rgb(219, 12, 12));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* borde redndo agregar auto caja con fondo  */
body.fondo-agregar-auto .login-page-regis {
  border-radius: 20px;
}

/* Estilo personalizado para la barra de navegación base.html */
.custom-navbar {
  background-color: rgb(219, 12, 12) !important;
  font-size: 18px; 
}

.navbar.custom-navbar {
  background-color: rgb(219, 12, 12) ;
}

/*  enlaces sean blancos */
.navbar.custom-navbar .nav-item.nav-link {
  color: white;
}

/* Cambia el color de los enlaces al pasar el mouse por encima */
.navbar.custom-navbar .nav-item.nav-link:hover {
  color: black; 
}

/* Estil slider carrusel autos */

* Estilo para el contenedor del slider carrusel */
/* Estilo para las diapositivas */
.slide {
  flex: 0 0 100%; /* Ancho igual al ancho de la pantalla */
  max-width: 100%;
  height: auto; /* Altura automática para mantener la proporción original */
}

/* Estilo para el contenedor del slider */
.slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  margin: 0 !important;
  object-fit: cover;
  scroll-snap-align: center;
}

/* Establece tamaño máximo para las imágenes */
.slider {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%; /* Ancho igual al ancho de la pantalla */
}

/* Estilo para cada diapositiva */
.slide img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.text-container {
  position: relative;
  text-shadow: 1px 1px 2px rgb(80, 74, 74);
  z-index: 2; /* el texto esté en una capa superior */
  top: -252px; /* ajustar el indice donde aparece */
  text-shadow: 1px 1px 2px rgb(43, 39, 39);
  color: white; 
}

.text-overlay {
  background: rgba(66, 64, 64, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay-text {
  font-size: 24px;
  padding: 10px;
}
/* Estilo filtro pop-up home */
#filtersPopup {
  display: none; /* Oculta el filtro por defecto */
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}


.custom-alert-content {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 100px;
  max-width: 600px;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Botones dentro de la alerta personalizada */
.custom-alert-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(196, 16, 16);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

/* Estilo de botones al pasar el mouse */
.custom-alert-content button:hover {
  background-color: black;
}


/* Estilo para la pagina Resultados - re size imgs*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.auto {
  width: 350px;
  margin: 10px;
  text-align: center;
}

.auto img {
  max-width: 100%;
  height: 300px; /* Ajusta la altura de las imágenes según tus preferencias */
  object-fit: cover;
  border-radius: 10%;
}


/* Estilos para la galería de imágenes  en ver-auto.html luego de resulatod de busqueda -> ver auto*/
ul.image-gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.image-gallery li {
  width: 200; /* Ancho para cada imagen */
  margin: 10px;
  text-align: center;
}

ul.image-gallery img {
  max-width: 100%;
  height: auto; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}