
{% extends "base.html" %}
{% block title %} Publicar auto {% endblock%}

{% block content %}
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="fondo-agregar-auto">
    <div class="login-page-regis">
        <div class="centered-container">
            <br>
            <form method="POST" enctype="multipart/form-data" class="login-form" >
                <h1 class="login-form-title">Agregar Auto</h1>

                <div class="form-group">
                    <label for="marca">Marca de Auto</label>
                    <select class="form-control" id="marca" name="marca">
                        <option value="alfa-romeo">Alfa Romeo</option>
                        <option value="audi">Audi</option>
                        <option value="bmw">BMW</option>
                        <option value="bentley">Bentley</option>
                        <option value="byd">BYD</option>
                        <option value="chevrolet">Chevrolet</option>
                        <option value="chana">Chana</option>
                        <option value="chery">Chery</option>
                        <option value="chrysler">Chrysler</option>
                        <option value="dodge">Dodge</option>
                        <option value="faw">FAW</option>
                        <option value="fiat">Fiat</option>
                        <option value="ford">Ford</option>
                        <option value="geely">Geely</option>
                        <option value="gmc">GMC</option>
                        <option value="honda">Honda</option>
                        <option value="hyundai">Hyundai</option>
                        <option value="isuzu">Isuzu</option>
                        <option value="jac">JAC</option>
                        <option value="jaguar">Jaguar</option>
                        <option value="jeep">Jeep</option>
                        <option value="kia">Kia</option>
                        <option value="landrover">Land Rover</option>
                        <option value="mazda">Mazda</option>
                        <option value="mercedesbenz">Mercedes-Benz</option>
                        <option value="mitsubishi">Mitsubishi</option>
                        <option value="mini">Mini</option>
                        <option value="mg5">MG5</option>
                        <option value="mgt">MG-GT</option>
                        <option value="nissan">Nissan</option>
                        <option value="peugeot">Peugeot</option>
                        <option value="porsche">Porsche</option>
                        <option value="ram">Ram</option>
                        <option value="renault">Renault</option>
                        <option value="seat">Seat</option>
                        <option value="subaru">Subaru</option>
                        <option value="suzuki">Suzuki</option>
                        <option value="lexus">Lexus</option>
                        <option value="lincoln">Lincoln</option>
                        <option value="tata">Tata</option>
                        <option value="tesla">Tesla</option>
                        <option value="toyota">Toyota</option>
                        <option value="volkswagen">Volkswagen</option>
                        <option value="volvo">Volvo</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="matricula">Matricula</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="matricula" 
                        name="matricula" 
                        placeholder="Ingrese la matricula del vehículo"
                    />
                </div>

                <div class="form-group">
                    <label for="modelo">Modelo</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="modelo" 
                        name="modelo" 
                        placeholder="Ingrese el modelo del vehículo"
                    />
                </div>

                <div class="form-group">
                    <label for="año">Año</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="año" 
                        name="año" 
                        placeholder="Ingrese el año del vehículo"
                    />
                </div>

                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="categoria" 
                        name="categoria" 
                        placeholder="Tipo de vehículo, ej: sedan, suv"
                    />
                </div>

                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <select class="form-control" id="departamento" name="departamento">
                        <option value="artigas">Artigas</option>
                        <option value="canelones">Canelones</option>
                        <option value="cerro-largo">Cerro Largo</option>
                        <option value="colonia">Colonia</option>
                        <option value="durazno">Durazno</option>
                        <option value="flores">Flores</option>
                        <option value="florida">Florida</option>
                        <option value="lavalleja">Lavalleja</option>
                        <option value="maldonado">Maldonado</option>
                        <option value="montevideo">Montevideo</option>
                        <option value="paysandu">Paysandú</option>
                        <option value="rio-negro">Río Negro</option>
                        <option value="rivera">Rivera</option>
                        <option value="rocha">Rocha</option>
                        <option value="salto">Salto</option>
                        <option value="san-jose">San José</option>
                        <option value="soriano">Soriano</option>
                        <option value="tacuarembo">Tacuarembó</option>
                        <option value="treinta-y-tres">Treinta y Tres</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="tarifa">Tarifa($)</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="tarifa" 
                        name="tarifa" 
                        placeholder="Ingrese el precio por día"
                    />
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="descripcion" 
                        name="descripcion" 
                        placeholder="Escriba una breve descripción de su vehículo"
                    />
                </div>

                <div class="image-upload">
                    <div class="form-group">
                        <label for="images">Cargar imágenes de auto:</label>
                        <input type="file" name="images[]" class="image-input" multiple>
                    </div>
                </div>

                <button type="submit" class="btn-login">Guardar</button>
                <br><br><br>
            </form>
        </div>
    </div>

    <br>
    <br><br>
    <br>
      <!-- Footer -->
      <footer class="footer">
        <p>Conduciendo hacia tus sueños desde 2023 </p>
        <br>
    
        
        <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a>
        <small>Tu auto, tu aventura.</small>
        <p>&copy; 2023 Rent Agile</p>
      </footer>


</body>
</html>
{% endblock %}