<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% set my_tuple = ('/host', '/agregar-vehiculo', '/mis-vehiculos') %}
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" id="home" href="/">Inicio</a>
                <a class="nav-item nav-link" id="howitworks" href="/como-funciona">Como funciona</a>
                {% if request.path in my_tuple or '/ver-vehiculo' in request.path %}
                    <a class="nav-item nav-link" id="special" href="/">Menu Cliente</a>
                {% else %}
                    <a class="nav-item nav-link" id="Host" href="/host">Menu Anfitrión</a>
                {% endif %}
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            {% else %}
                <a class="nav-item nav-link" id="home" href="/">Inicio</a>
                <a class="nav-item nav-link" id="howitworks" href="/como-funciona">Como funciona</a>
                <a class="nav-item nav-link" id="login" href="/login">Iniciar Sesión</a>
                <a class="nav-item nav-link" id="signUp" href="/registro">Registro</a>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-toggle="dropdown">
                    <img src="/{{ user.image_path }}" alt="Profile Picture" class="rounded-circle" width="30" height="30">
                </button>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    {% if request.path == '/host' or request.path == '/agregar-vehiculo' or request.path == '/mis-vehiculos' or request.path == '/ver-vehiculo' %}
                        <a class="dropdown-item" href="#">Perfil</a>
                        <a class="dropdown-item" href="/mis-datos">Cuenta</a>
                        <a class="dropdown-item" href="/agregar-vehiculo">Agregar Vehiculo</a>
                        <a class="dropdown-item" href="mis-vehiculos">Gestionar Vehiculos</a>
                        <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
                </div>
                    {% else %}
                        <a class="dropdown-item" href="#">Mis Reservas</a>
                        <a class="dropdown-item" href="#">Favoritos</a>
                        <a class="dropdown-item" href="/perfil">Perfil</a>
                        <a class="dropdown-item" href="/mis-datos">Cuenta</a>
                        <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category , message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dissmissable fade show" role="alert">
                {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dissmissable fade show" role="alert">
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
      <div class="container">{% block content %}{% endblock %}</div>
      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>
