{% extends "base.html" %}
{% block title %} Como funciona {% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/style3.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>


<body class="custom-body">
  
  <div class="mediafrase">
    <span class="mediafrasecustomtext"> <h4>Nuestra misión es brindarte la mejor experiencia en alquiler de autos,  <br>ya sea que necesites un vehículo para tus aventuras o quieras poner el tuyo en alquiler.</span> </h4>
  </div>
  <br><br>
 
  <div class="como-funciona-container">
    <div class="como-funciona-card" id="publicar-auto">
        <h2 class="titulo-llamativo">Publica tu Auto</h2>

        <hr>

        <div class="img-fondo">
        <p>    
            Si deseas publicar tu auto para alquiler, deberás registrarte.
            Luego, va a la sección "Publicar Auto" y completa los datos requeridos.
            Añade una foto de tu auto. 
            Una vez publicado, desde tu perfil podrás ver el estado de tu publicación.<br>
            Puedes configurarlo como disponible para el público o no disponible.
            Además, desde la sección correspondiente, puedes editar tus publicaciones y agregar más fotos.
        </p>
    </div>
    </div>

    <div class="como-funciona-card" id="buscar-auto">
        <h2 class="titulo-llamativo">Busca tu Auto Ideal</h2>
        <hr>
        <div class="img-fondo">
        <p>
            Si estás buscando un auto para alquilar, deberás registrarte en nuestro sitio.
            En la página de inicio, podrás ver todos los autos disponibles para alquiler.<br>
            Puedes realizar búsquedas personalizadas desde la página de inicio,
            agregando los parámetros que mejor se adapten a tus necesidades.<br>
            Una vez que hayas elegido el auto que mejor se adapte a ti,
            realiza la reserva y comunícate con el dueño enviándole un mensaje.
        </p>
        </div>
    </div>
    
</div><br><br>
<div class="mediafrase">
    <span class="mediafrasecustomtext">
      
            En <strong>Rent Agile </strong> , creemos en simplificar cada paso para que tu experiencia sea memorable y segura.<br>
            Tu viaje comienza con nosotros. </div>

<br><br> <br><br>

</body>
{% endblock %}
