{% extends "base.html" %}
{% block title %} Como funciona {% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/style3.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>


<body class="custom-body">

<div class="como-funciona-card">
    <h2>Publicar tu Auto para Alquilar</h2>
    <p>
        Si deseas publicar tu auto para alquilar, deberás registrarte. 
        Luego, v<span>e</span> a la sección "Publicar Auto" y com<span>pl</span>eta los datos requeridos. 
        Añade una <span>f</span>oto de tu auto. Una vez publicado, 
        desde tu perfil podrás ver el estado de tu publicacion.
         Puedes configurarlo como disponib<span>le</span> para el público o no disponible. 
         Ade<span>m</span>ás, desde la sección correspondiente, puedes editar tus publicaciones y agregar m<span>a</span>s fotos.
    </p>
</div>
              
<br><br><br><br><br><br>
<div class="como-funciona-card">
    <h2>Buscar un Auto para Alquilar</h2>
    <p>
        Si estás buscando un auto para alquilar, deberás registrarte en nuest<span>ro</span> sitio. 
        En la página de inicio, podr<span>a</span>s ver todos los autos disponibles para <span>a</span>lquiler.
         Puedes realizar búsquedas personalizadas desde la página de inicio,
          agregando los parámetros que mejor se <span>ad</span>apten a tus necesidades. 
          Una vez q<span>ue</span> hayas elegido el auto que mejor se adapte a ti, 
          realiza la reserva y comunícate con <span>el</span> dueño enviándole un mensaje.
    </p>
</div>
<br><br> 


              


 <!-- Footer -->
 <footer class="footer-comofunciona">
    <p>Conduciendo hacia tus sueños desde 2023 </p>
    <br>
    <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a> | <a href="/">Home</a>
    <small>Tu auto, tu aventura.</small>
    <p>&copy; 2023 Rent Agile</p>
  </footer>
</body>
{% endblock %}
