{% extends "base.html" %}
{% block title %} Editar Vehiculo {% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/style5.css">



<br><br>
<body class="body-editar-auto">


<div class="container-editar">
<form method="POST" enctype="multipart/form-data">
    <h3 align="center">Editar vehiculo</h3>
    <div class="form-group">

        <label for="marca">Marca</label>
        <select class="form-control" id="marca" name="marca">
            {% for marca in marcas %}
                <option value="{{ marca }}" {% if vehiculo.marca == marca %}selected{% endif %}>{{ marca }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label for="Modelo">Modelo</label>
        <input type="text" id="modelo" name="modelo" required value="{{ vehiculo.modelo }}">
    </div>
    <div class="form-group">
        <label for="Año">Año</label>
        <input type="number" id="año" name="año" required value="{{ vehiculo.año }}">
    </div>
    <div class="form-group">
        <label for="Categoria">Categoria</label>
        <input type="text" id="categoria" name="categoria" required value="{{ vehiculo.categoria }}">
    </div>
    <div class="form-group">
        <label for="departamento">Departamento</label>
        <select class="form-control" id="departamento" name="departamento">
            {% for dept in departamentos %}
                <option value="{{ dept }}" {% if vehiculo.departamento == dept %}selected{% endif %}>{{ dept }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="Tarifa">Tarifa($)</label>
        <input type="number" id="tarifa" name="tarifa" required value="{{ vehiculo.tarifa }}">
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripcion</label>
        <input type="text" id="descripcion" name="descripcion" required value="{{ vehiculo.descripcion }}">
    </div>
    
    <ul>
        {% for imagen in imagenes_url %}
        <li> 
            <div class="image-container">
                <img src="/{{ imagen }}" alt="Imagen del Auto" width="150" height="100">
                <label class="btn btn-primary">
                    Cambiar Imagen
                    <input type="file" class="imagen-input" accept="image/*" name="nuevas_imagenes[]" style="display: none;">
                </label>
            </div>
        </li>
        {% endfor %}
        {% for _ in range(4 - imagenes_url|length) %}
        <li>
            <div class="image-container">
                <label class="btn btn-primary">
                    Cargar Imagen
                    <input type="file" class="imagen-input" accept="image/*" name="nuevas_imagenes[]" style="display: none;">
                </label>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- Agregar una lista oculta para las imágenes a quitar -->
    <input type="hidden" name="imagenes_quitar[]" class="imagenes-quitar-input">
    
    <div class="form-group">
        <label for="fecha_bloqueo_inicio">Fecha de Inicio de Bloqueo</label>
        <input type="date" id="fecha_bloqueo_inicio" name="fecha_bloqueo_inicio">
    </div>
    <div class="form-group">
        <label for="fecha_bloqueo_fin">Fecha de Finalización de bloqueo</label>
        <input type="date" id="fecha_bloqueo_fin" name="fecha_bloqueo_fin">
    </div>
    
    <div class="form-group">
        <label for="fechas_bloqueadas">Fechas Bloqueadas Actuales</label>
        <ul id="fechas_bloqueadas">
            {% for fecha_bloqueada in fechas_bloqueadas %}
                <li>{{ fecha_bloqueada.fecha_inicio }} - {{ fecha_bloqueada.fecha_fin }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group">
        <label for="Disponibilidad">Disponibilidad</label>
        <select id="disponibilidad" name="disponibilidad">
            <option value="1">Sí</option>
            <option value="0">No</option>
        </select>
    </div>

    <button type="submit" style="display: block; margin: 0 auto;">Guardar</button>
    <br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</form>
</div>
<script src="/static/js/events.js"></script>

<br><br>


   <!-- Footer -->
   <footer class="footer">
    <p>Conduciendo hacia tus sueños desde 2023 </p>
    <br>

    
    <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a>
    <small>Tu auto, tu aventura.</small>
    <p>&copy; 2023 Rent Agile</p>
  </footer>
</body>
{% endblock %}