{% extends "base.html" %}
{% block title %} Bienvendio {% endblock %}

{% block content %}


<div class="container2" style="margin: 0;">
    
  <link rel="stylesheet" href="/static/css/style.css">

<header class="headernavred">

  <div class="centered-text2">
      <p class="lead">  <!-- saludo  -->
        {% if user.is_authenticated %}
            <small>Bienvenido, {{ user.nombre }}</small> {% endif %} </p>
    <p class="lead">Tu Auto, Tu Aventura</p>
</div>
    <!-- Boton buscar auto svg lupa symbol -->
 
</header>
            <!-- Galeria slider autos  -->
            <div class="slider-container">
              <img class="slider-item" src="/static/img/uploads/imagen1.jpg" />
            <img class="slider-item" src="/static/img/uploads/imagen2.jpg" />
            <img class="slider-item" src="/static/img/uploads/imagen3.jpg" />
            </div>
            <div class="text-container">
              <div class="text-overlay">
            <p id="overlay-text">Tu auto puede ser la clave para crear aventuras inolvidables juntos</p>
            </div>
            </div>
                <script src="/static/js/script.js"></script>

                <!-- div con info on scroll -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>

                <div id="divOculto">
                  <div class="message-box">
                      <p>Tu Aventura Comienza Aquí</p>
                      <hr>
                      <p>Descubre una nueva forma de viajar con nuestros autos de alquiler en Rent Agile.
                         Ofrecemos una amplia variedad de vehículos para satisfacer tus necesidades,
                          ya sea un emocionante viaje por carretera, una escapada de fin de semana o tu uso diario. 
                          ¡No dejes pasar la oportunidad de viajar y explorar! 
                           <p class="impulso-paragraph">
                            ¡Reserva ahora y comienza tu próxima aventura con Rent Agile!
                          </p>
                      </div>
                       </div>
                          </div>
                          
              <script src="/static/js/divscroll.js"></script>
              <br> 
                <br>
                <div style="display: flex; justify-content: center;">
                  <section id="seccionalquilar"></section>
                  <br>
                  <button id="openFiltersButton" class="openFiltersButton">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                      &nbsp;Buscar &nbsp; auto &nbsp;
                  </button>
              </div>
        <!-- cards autos publicados disponibles --> 
  <div class="cardsgallery" id="autoContainer">
    {% for auto in autos %}
      {% if auto.imagenes_auto %}
        <div class="auto">
          <a href="/ver-vehiculo/{{ auto.id_auto }}">
            <div class="auto-inner">
              <div class="auto-front">
                <img src="{{ auto.imagenes_auto[0].url }}" alt="{{ auto.marca }} {{ auto.modelo }}">
              </div>
              <div class="auto-back">
                <h2>Rent Agile</h2> 
                <p>{{ auto.marca }} {{ auto.modelo }}</p> 
                <p>Precio: {{ auto.tarifa }}$</p>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
   
  <br><br> <br>
  
  <!-- Popup de filtros (inicialmente oculto) -->
  <div id="filtersPopup" class="popup custom-alert">
    <div class="custom-alert-content">
        <h2>Filtros</h2>
        <div id="linea1">
            <label for="filtroMarca">Marca:</label>
            <select id="filtroMarca">
                <option value="todas">Todas las marcas</option>
                <option value="alfa-romeo">Alfa Romeo</option>
                <option value="audi">Audi</option>
                <option value="bmw">BMW</option>
                <option value="byd">BYD</option>
                <option value="chevrolet">Chevrolet</option>
                <option value="chrysler">Chrysler</option>
                <option value="dodge">Dodge</option>
                <option value="fiat">Fiat</option>
                <option value="ford">Ford</option>
                <option value="gmc">GMC</option>
                <option value="honda">Honda</option>
                <option value="hyundai">Hyundai</option>
                <option value="jaguar">Jaguar</option>
                <option value="jeep">Jeep</option>
                <option value="kia">Kia</option>
                <option value="land-rover">Land Rover</option>
                <option value="lexus">Lexus</option>
                <option value="mazda">Mazda</option>
                <option value="mercedes-benz">Mercedes-Benz</option>
                <option value="mini">Mini</option>
                <option value="nissan">Nissan</option>
                <option value="peugeot">Peugeot</option>
                <option value="porsche">Porsche</option>
                <option value="subaru">Subaru</option>
                <option value="tesla">Tesla</option>
                <option value="toyota">Toyota</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="volvo">Volvo</option>
                <!-- Agrega más opciones de marca según tus datos -->
            </select>
            <!-- Filtro de Precio Mínimo -->
            <label for="precioMinimo">Precio Mínimo:</label>
            <input type="number" id="precioMinimo" placeholder="Precio Mínimo">
            <!-- Filtro de Precio Máximo -->
            <label for="precioMaximo">Precio Máximo:</label>
            <input type="number" id="precioMaximo" placeholder="Precio Máximo">
        </div>
        <div id="linea2">
            <!-- Filtro de búsqueda por fechas -->
            <label for="fechaInicio">Fecha de Inicio:</label>
            <input type="date" id="fechaInicio">

            <label for="fechaFin">Fecha de Fin:</label>
            <input type="date" id="fechaFin">

            <label for="filtroDepto">Departamento:</label>
            <select id="filtroDepto">
                <option value="todos">Todos los departamentos</option>
                <option value="artigas">Artigas</option>
                <option value="canelones">Canelones</option>
                <option value="cerro-largo">Cerro Largo</option>
                <option value="colonia">Colonia</option>
                <option value="duran">Durazno</option>
                <option value="flores">Flores</option>
                <option value="florida">Florida</option>
                <option value="lavalleja">Lavalleja</option>
                <option value="maldonado">Maldonado</option>
                <option value="montevideo">Montevideo</option>
                <option value="paysandu">Paysandú</option>
                <option value="rio-negro">Río Negro</option>
                <option value="rivera">Rivera</option>
                <option value="rocha">Rocha</option>
                <option value="salto">Salto</option>
                <option value="san-jose">San José</option>
                <option value="soriano">Soriano</option>
                <option value="tacuarembo">Tacuarembó</option>
                <option value="treinta-y-tres">Treinta y Tres</option>
            </select>
        </div>
        <button id="searchButton">Realizar Búsqueda</button>
        <a href="/"><button>Cancelar Búsqueda</button></a>
  </div>

  <!-- Fondo oscuro detrás del popup -->
  <div id="overlay" class="overlay"></div>
   
</div>
  <script>
    function openFiltersPopup() {
      var popup = document.getElementById('filtersPopup');
      var overlay = document.getElementById('overlay');
      popup.style.display = 'block';
      overlay.style.display = 'block';
    }

    function closeFiltersPopup() {
      var popup = document.getElementById('filtersPopup');
      var overlay = document.getElementById('overlay');
      popup.style.display = 'none';
      overlay.style.display = 'none';
    }

    var openButton = document.getElementById('openFiltersButton');
    openButton.addEventListener('click', openFiltersPopup);

    var searchButton = document.getElementById('searchButton');
    searchButton.addEventListener('click', function() {
      var precioMinimo = document.getElementById('precioMinimo').value;
      var precioMaximo = document.getElementById('precioMaximo').value;
      var fechaInicio = document.getElementById('fechaInicio').value;
      var fechaFin = document.getElementById('fechaFin').value;
      var filtroMarca = document.getElementById('filtroMarca').value;
      var filtroDepto = document.getElementById('filtroDepto').value;
      // Construye la URL con los parámetros de filtro
      var url = '/resultados/?precioMinimo=' + precioMinimo + '&precioMaximo=' + precioMaximo + '&fechaInicio=' + fechaInicio + '&fechaFin=' + fechaFin + '&marca=' + filtroMarca + '&depto=' + filtroDepto;

      // Cierra el popup de filtros
      closeFiltersPopup();

      // Redirige a la página de resultados con los parámetros
      window.location.href = url;
    });

    var overlay = document.getElementById('overlay');
    overlay.addEventListener('click', closeFiltersPopup);
  </script>
  
    
      <!-- Footer -->
      <footer class="footer">
        <p>Conduciendo hacia tus sueños desde 2023 </p>
        <br>
    
        
        <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a>
        <small>Tu auto, tu aventura.</small>
        <p>&copy; 2023 Rent Agile</p>
      </footer>

    
{% endblock %}
</html>