{% extends "base.html" %}
{% block title %} Anfitrión {% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/css/style4.css">
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
   
    <body class="custom-background-perfil-anf"> 

        <div class="banner-text2">
            <h1 class="user-profile-title">Perfil de usuario anfitrión</h1>
          </div>
</div>
<div class="user-greeting-bg">
    <h3 class="user-greeting">Hola arrendatario {{ user.nombre }}</h3>
</div>

<br><br><br><br>

    <title>Mi Perfil</title>
   
  </head>
  
  <div class="menu2">
    <a href="/" class="show slide-in">
      <i class="fa fa-home"></i>
      <span>Home</span>
    </a>
    <a href="/agregar-vehiculo" class="show slide-in">
      <i class="fas fa-car"></i>
      <span>Publicar Auto</span>
    </a>
    <a href="/mis-vehiculos" class="show slide-in">
      <i class="fas fa-cogs"></i>
      <span> Mis Publicaciones</span>
    </a>
    <a href="/info#contacto" class="show slide-in">
      <i class="fas fa-comment-dots"></i>
      <span>Contactanos</span>
    </a>
  </div>
  <script src="/static/js/iconslider.js"></script>
>

<br><br><br><br><br><br><br><br><br><br>


 <!-- Footer -->
 <footer class="footer">
    <p>Conduciendo hacia tus sueños desde 2023 </p>
    <br>

    
    <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a>
    <small>Tu auto, tu aventura.</small>
    <p>&copy; 2023 Rent Agile</p>
  </footer>
</body>
{% endblock %}