{% extends "base.html" %}
{% block title %} Nosotros {% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('pDDxMCELf9FlBSXhG')
</script>
<link rel="stylesheet" href="/static/css/style3.css">

<body class="custom-body">
<main>
  <div class="main-container">
    <div class="quienes-somos-section">
        <aside>
            <h2>¿Quiénes Somos?</h2>
            <p>Somos Rent Agile, tu compañía de alquiler de autos de confianza.</p>
            <p>Nuestra misión es brindarte la mejor experiencia en alquiler de autos,</p>
            <p>ya sea que necesites un vehículo para tus aventuras</p>
            <p>o quieras poner el tuyo en alquiler.</p>
        </aside>
      </div>


    <div class="equipo-section">
        <h3>Nuestro Equipo</h3>
        <!-- Tus miembros del equipo y sus imágenes aquí -->
        <div class="miembrox">
            <div class="circulo">
                <img src="/static/img/uploads/vin.jpg" alt="Vicenzo">
            </div>
            <p>Vicenzo</p>
        </div>
        <div class="miembro">
            <div class="circulo">
                <img src="/static/img/uploads/joaco.jpg" alt="Joaquín">
            </div>
            <p>Joaquín</p>
        </div>
        <div class="miembrox">
            <div class="circulo">
                <img src="/static/img/uploads/nacho.jpg" alt="Nacho">
            </div>
            <p>Nacho</p>
        </div>
        <div class="miembro">
            <div class="circulo">
                <img src="/static/img/uploads/mauricio.jpg" alt="Mauricio">
            </div>
            <p>Mauricio</p>
        </div>
        <div class="miembrox">
            <div class="circulo">
                <img src="/static/img/uploads/gustavo.jpg" alt="Gustavo">
            </div>
            <p>Gustavo</p>
        </div>
    </div>
</div>
<br><br><br>
<div id="testimonios" class="section">
    <h2 style="color: rgb(255, 253, 253);">Nuestros clientes dicen </h2>
    <div class="testimonio">
      <div class="testimonio-card">
        <p>"Estoy asombrada por la calidad del servicio de alquiler de autos de Rent Agile. Mi familia y yo usamos su plataforma para alquilar un automóvil durante nuestras vacaciones, y todo fue perfecto. El vehículo estaba impecable, el proceso de reserva fue rápido y sencillo, y el equipo de atención al cliente fue excepcional. ¡Definitivamente volveremos a elegir Rent Agile en nuestro próximo viaje!"</p>
        <p>- Testimonio de Cliente Satisfecho <br> Fernanda Laramburde</p>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
      </div>
    </div>
    <div class="testimonio">
      <div class="testimonio-card">
        <p>"No puedo expresar con palabras lo agradecido que estoy con ustedes. Necesitaba alquilar un vehículo de manera urgente para un viaje de negocios, y su plataforma hizo que todo fuera sin problemas. La selección de autos era impresionante, los precios competitivos y el servicio al cliente muy amigable. Recomiendo a todos mis colegas y amigos"</p>
        <p>- Cliente Feliz <br> Nicolas Barreto</p>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
      </div>
    </div>
    <div class="testimonio">
      <div class="testimonio-card">
        <p>"He estado utilizando los servicios de alquiler de autos de Rent Agile en el último tiempo y cada vez me sorprenden con su eficiencia y calidad. Siempre encuentro el vehículo perfecto para mis necesidades, y el proceso de reserva es tan fácil. Además, me siento segura sabiendo que están disponibles las 24/7 en caso de cualquier consulta. ¡Son los mejores en la industria!"</p>
        <p>- Cliente Satisfecho <br> Mauricio Macri</p>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
      </div>
    </div>
  </div>
  

    
    <form id="form">
        <div id="contacto" class="section"></div>
        <div class="field">
            <h2 style="color: black; text-align: center;">Escribenos</h2>
          <h5 style="color: black;">Formulario de Contacto</h5>
            <label for="from_name">Nombre</label>
            <input type="text" name="from_name" id="from_name">
        </div>
        <div class="field">
            <label for="message">Mensaje</label>
            <input type="text" name="message" id="message">
        </div>
        <div class="field">
            <label for="email_id">Tu correo</label>
            <input type="text" name="email_id" id="email_id">
        </div>
        <input type="submit" id="button" value="Enviar correo">
        <br><br>
            <small style="text-align: center;">Te responderemos pronto, <strong> Rent Agile </strong></samll>
        </form>

    <script src="/static/js/enviodemail.js"></script>
    
</main>
  <br><br><br>
  
      <!-- Footer -->
    <footer class="footer">
      <p>Conduciendo hacia tus sueños desde 2023 </p>
      <br>

  
  <a href="/info">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a> |<a href="/">Home</a> |
  <small>Tu auto, tu aventura.</small>
  <p>&copy; 2023 Rent Agile</p>
</footer>
</body>
{% endblock %}
