{% extends "base.html" %}
{% block title %} Conversación {% endblock %}

{% block content %} 
<h1>Conversación con {{ primer_destinatario.nombre }} {{ primer_destinatario.apellido }}</h1>
<ul>
    {% for mensaje, destinatario, emisor in mensajes_con_destinatarios %}
    <li>
        {% if mensaje.id_usuario == current_user.id %}
            <strong>Tú: </strong>
        {% elif mensaje.destinatario_id == current_user.id %}
            <strong>De: {{emisor.nombre}} {{emisor.apellido}} Para ti:</strong>
        
        {% endif %}
        <p>{{ mensaje.contenido_mensaje }}</p>
        <p>Fecha: {{ mensaje.fecha }}</p>
    </li>
    {% endfor %}
</ul>

<form method="POST">
    <div class="form-group">
        <label for="nuevo-mensaje">Nuevo mensaje:</label>
        <textarea class="form-control" name="nuevo-mensaje" id="nuevo-mensaje" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
</form>
{% endblock %}