{% extends "base.html" %}
{% block title %} Registro {% endblock%}

{% block content %} 
<form method="POST" enctype="multipart/form-data">
    <h3 align="center">Actualizar Información Personal</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required value="{{ user.email }}">
    </div>
    <div class="form-group">
        <label for="PrimerNombre">Nombre</label>
        <input type="text" id="name" name="name" required value="{{ user.nombre }}">
    </div>
    <div class="form-group">
        <label for="PrmerApellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" required value="{{ user.apellido }}">
    </div>
    <div class="form-group">
        <label for="departamento">Departamento</label>
        <select class="form-control" id="departamento" name="departamento">
            {% for dept in departamentos %}
                <option value="{{ dept }}" {% if user.departamento == dept %}selected{% endif %}>{{ dept }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" name="direccion" value="{{ user.direccion }}">
    </div>    
    <div class="form-group"> <!-- Aquí inicia el campo de carga de imagen -->
        <label for="image">Cargar imagen de perfil:</label>
        <input type="file" name="image" id="image">
    </div> <!-- Aquí termina el campo de carga de imagen -->
    <div class="form-group">
        <label for="firstpass">Ingrese Su Contraseña</label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Ingrese Su Contraseña"
        />
    </div>
    <div class="form-group">
        <label for="secondpass">Repita Su Contraseña</label>
        <input 
            type="password" 
            class="form-control" 
            id="password2" 
            name="password2" 
            placeholder="Repita Su Contraseña"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
{% endblock %}