{% extends "base.html" %}
{% block title %} Cliente de Alquiler {% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/css/style4.css">
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
   
    
<div class="user-profile-title-bg">
    <h1 class="user-profile-title">Perfil de usuario</h1>
</div>
<div class="user-greeting-bg">
    <h3 class="user-greeting">Hola {{ user.nombre }}</h3>
</div>

  
    <title>Mi Perfil</title>
   
  </head>
  <body class="custom-background-perfil">
    <div class="menu">
        <a href="/">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
        <a href="/#seccionalquilar"">
          <i class="fas fa-car"></i>
          <span>Alquilar Auto</span>
        </a>
        <a href="/bandeja-entrada">
          <i class="fas fa-comment-dots"></i>
          <span>Mis Mensajes</span>
        </a>
        <a href="/mis-reservas"">
            <i class="fas fa-book"></i>
            <span>Mis Reservas</span>
          </a>
      </div>
<br>
<div id="todito">
    <div id="todo-list">
        <h3>Perfil</h3>
        <ul>
            <li>
                <img src="/{{ imagen_perfil }}" alt="Foto de perfil" class="rounded-circle" width="60" height="60">
                <div class="derecha">
                <p> {{contador}} evaluaciones</p>
                <p>Calificacion {{promedio}} puntos</p>
                </div>
            </li>
            <li>
                <h3>{{user.nombre}} {{user.apellido}} </h3>
            </li>
            <li>
                
            </li>      
        </ul>
    </div>
    <div id="todo-list">
        <h3>Evaluaciones de {{user.nombre}}</h3>
        
    {% for i in range(2) %}
        {% set reserva = primeras_dos_reseñas[i] %}
        {% set dueño = dueños_autos[i] %}
        <li>
            <img src="/{{ dueño.image_path }}" alt="Foto de perfil" class="rounded-circle" width="60" height="60">
            <p>{{ reserva.comentario }}</p>
        </li>
    {% endfor %}
    </div>
</div>
    <br> <br>
    <br><br><br>
    <br><br>
    <br>

        <script>
    // Función para agregar una nueva tarea
    function addTask() {
        const taskText = prompt("Nueva tarea:");
            if (taskText) {
            const ul = document.querySelector("#todo-list ul");
            const li = document.createElement("li");
            li.innerHTML = `
            <input type="checkbox">
             <label>${taskText}</label>
                <button class="delete">Eliminar</button>
                `;
                ul.appendChild(li);
                    li.querySelector(".delete").addEventListener("click", () => {
                        ul.removeChild(li);
                });
            }
        }
                             document.querySelector("#add-task").addEventListener("click", addTask);
</script>

 <!-- Footer -->
 <footer class="footer">
    <p>Conduciendo hacia tus sueños desde 2023 </p>
    <br>

    
    <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a>
    <small>Tu auto, tu aventura.</small>
    <p>&copy; 2023 Rent Agile</p>
  </footer>

{% endblock %}
</body>