{% extends "base.html" %}
{% block title %} Registro {% endblock%}

{% block content %}
<link rel="stylesheet" href="/static/css/style.css">


<body class="login-page-regis">

<div class="login-page-regis">
    <br><br>
    <div class="centered-container">
        <form method="POST" class="login-form">
            
            <h1 class="login-form-title"><a href="/" class="logo"><strong>Rent Agile</strong></a></h1>
            <div class="top-header">
                <small>Comienza tu aventura <strong>registrándote ahora</strong></small>
                <div class="singin-yatengocuenta">
                    <p>Ya tengo una cuenta</p>
                    <a href="/login">entrar</a>
                </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    placeholder="Email"
                    value="{{ email }}"
                    required
                />
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="nombre" 
                    name="nombre" 
                    placeholder="Nombre"
                    value="{{ nombre }}"
                    required
                />
            </div>
                <div class="form-group">
                <label for "apellido">Apellido</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="apellido" 
                    name="apellido" 
                    placeholder="Apellido"
                    value="{{ apellido }}"
                    required
                />
            </div>
            
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input 
                    type="tel" 
                    class="form-control" 
                    id="telefono" 
                    name="telefono" 
                    placeholder="Teléfono"
                    value="{{ telefono }}"
                    required
                />
            </div>
            
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="direccion" 
                    name="direccion" 
                    placeholder="Dirección" 
                    required
                    value="{{ direccion }}"
                    
                />
            </div>
            
            <div class="form-row">
                <div class="form-group col">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        id="fecha_nacimiento" 
                        name="fecha_nacimiento" 
                        placeholder="Fecha de Nacimiento"
                        value="{{ fecha_nacimiento }}"
                        required
                    />
                </div>
            </div>
            
            <div class="form-group">
                <label for="departamento">Departamento</label>
                <select class="form-control" id="departamento" name="departamento">
                    <option value="artigas">Artigas</option>
                    <option value="canelones">Canelones</option>
                    <option value="cerro-largo">Cerro Largo</option>
                    <option value="colonia">Colonia</option>
                    <option value="durazno">Durazno</option>
                    <option value="flores">Flores</option>
                    <option value="florida">Florida</option>
                    <option value="lavalleja">Lavalleja</option>
                    <option value="maldonado">Maldonado</option>
                    <option value="montevideo">Montevideo</option>
                    <option value="paysandu">Paysandú</option>
                    <option value="rio-negro">Río Negro</option>
                    <option value="rivera">Rivera</option>
                    <option value="rocha">Rocha</option>
                    <option value="salto">Salto</option>
                    <option value="san-jose">San José</option>
                    <option value="soriano">Soriano</option>
                    <option value="tacuarembo">Tacuarembó</option>
                    <option value="treinta-y-tres">Treinta y Tres</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                    placeholder="Contraseña"
                    required
                />
            </div>
            
            <div class="form-group">
                <label for="password2">Repite la Contraseña</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password2" 
                    name="password2" 
                    placeholder="Repite la Contraseña"
                    required
                />
            </div>
            
            <button type="submit" class="btn btn-primary btn-login-custom">Registrarse</button>
        </form>
    </div>
</div>
  <br><br><br><br><br><br><br><br><br>

          <!-- Footer -->
      <footer class="footer">
        <p>Conduciendo hacia tus sueños desde 2023 </p>
        <br>
    
        
        <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a href="/info#contacto">Contacto</a>
        <small>Tu auto, tu aventura.</small>
        <p>&copy; 2023 Rent Agile</p>



</footer>

</body>
{% endblock %}
