{% extends "base.html" %}
{% block title %} Detalles de la reserva {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <h3 align="center">Detalles de la reserva</h3>
  <ul>
    <li>
      <h3> Detalles de la reserva </h3>
      <p>Reserva nro: {{ reserva.id_reserva }}</p>
      <p>Fecha inicio: {{ reserva.fecha_inicio }}</p>
      <p>fecha fin: {{ reserva.fecha_fin }}</p>
      <p>Estado de la reserva: {{reserva.estado}}</p>

      <h3> Detalles del vehiculo </h3>
      <p>{{ auto.marca }} {{ auto.modelo }}</p>
      <p>Año: {{ auto.año }}</p>
      <p>Departamento: {{ auto.departamento }}</p>
      <p>Tarifa: {{ auto.tarifa }}</p>
      <p>Descripción: {{ auto.descripcion }}</p>
      <div style="display: flex;">
        <img src="/{{ primera_imagen.url }}" alt="" width="300" height="200">
      </div>
      {% if user.id == propietario.id %}
        <h3> Informacion de contacto </h3>
        <p>Nombre: {{ arrendatario.nombre }}</p>
        <p>Apellido: {{ arrendatario.apellido }}</p>
        <p>Telefono: {{ arrendatario.telefono }}</p>
        {% if fecha_ahora <= reserva.fecha_fin %}
        <form action="{{ url_for('views.cancelar_reserva', id=reserva.id_reserva) }}" method="post">
          <button type="submit" class="btn btn-danger">Cancelar Reserva</button>
        </form>
        {% else %}
          <form action="/recibir_auto/{{ reserva.id }}" method="post">
            <button type="submit" class="btn btn-primary">Recibí mi Auto</button>
          </form>
        {% endif %}
      {% else %}
      <h3> Informacion de contacto </h3>
      <p>Nombre: {{ propietario.nombre }}</p>
      <p>Apellido: {{ propietario.apellido }}</p>
      <p>Telefono: {{ propietario.telefono }}</p>
      {% endif %}
    </li>
  </ul>
  
{% endblock %}
