{% extends "base.html" %}
{% block title %} Detalles del Vehículo {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightbox2/dist/css/lightbox.min.css">
<script src="https://cdn.jsdelivr.net/npm/lightbox2/dist/js/lightbox-plus-jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Agregar la biblioteca de selección de fecha (DatePicker) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- en navegador /ver-vehiculo   -->
<br>
<body class="custom-background-ver">

<div class="car-details-container">

    <div class="buttons-container">
        {% if current_user.id == vehiculo.usuario_id %}
        <br>
        <h4> Tus Autos Disponibles</h4>
        <h6> Edita y Borra</h6>

        <h3 class="car-title">{{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
        <form action="/editar-vehiculo/{{ vehiculo.id_auto }}" method="GET">
            <button type="submit" class="btn btn-primary-ver">Editar Vehículo</button>
        </form><br>
        <form action="/delete-vehiculo/{{ vehiculo.id_auto }}" method="POST"
            onsubmit="return confirm('¿Estás seguro de que deseas eliminar este vehículo?')">

            <button type="submit" class="btn btn-danger">Borrar Vehículo</button>
            <br><hr>
        </form>
        {% else %}

        <div class="rental-section">
        <div class="message-rent-container">
            <h3> Reserva y Descubre Nuevos Destinos</h3>
        </div>
       
        <div class="car-details">
            <br>
        <h3 class="car-title">{{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
        </div>
        {% if vehiculo.disponible == 1 %}
        <div id="fecha-fields">
            <h6>Selecciona las Fechas de Reserva</h6>
            <form action="/alquilar-vehiculo/{{ vehiculo.id_auto }}" method="POST">
                <div class="date-containero">
                    <div class="form-group">
                        <input type="text" id="fecha_inicio" name="fecha_inicio" placeholder="Check-In" required>
                    </div>
                    &nbsp; &nbsp;
                    <div class="form-group">
                        <input type="text" id="fecha_fin" name="fecha_fin" placeholder="Check-Out" required>
                    </div>
                </div>
                            
                    <div class="button-container2">
                        <form action="/alquilar-vehiculo/{{ vehiculo.id_auto }}" method="POST">
                        <button type="submit" class="btn btn-primary-ver">Alquilar</button>
                        </form>
                        <form action="/enviar-mensaje/{{ vehiculo.id_auto }}" method="get">
                        <button type="submit" class="btn btn-primary-ver">Enviar mensaje</button>
                        </form>
                        <div class="form-groupp">
                            <label>Total &nbsp;</label>
                            <input type="text" id="total" name="total" readonly>
                        </div>
                                <!-- Boton pop up info -->
                        <button id="info-button" onclick="openPopup()"> <small><strong>Información Importante</strong></small> </button>
                        <div id="popup" class="popup2">
                            
                            <h2><i class="fas fa-info-circle"></i> Información Importante</h2>
                        
                            <p><i class="fas fa-check-circle"></i> Documentación necesaria:</p>
                            
                                <li><i class="fas fa-check"></i> Pasaporte o documento nacional de identidad</li>
                                <li><i class="fas fa-check"></i> Permiso de conducir</li>
                                <li><i class="fas fa-check"></i> Tarjeta de crédito</li>
                            <hr>
                            <p><i class="fas fa-dollar-sign"></i> Depósito de seguridad: USD $300,00</p>
                            <p>En el momento de la recogida, el conductor principal dejará un depósito de seguridad reembolsable de USD $300,00en su tarjeta de crédito. No se acepta efectivo ni tarjetas de débito.</p>
                                                
                            <p><i class="fas fa-exclamation-triangle"></i> Franquicia por daños: USD $1000,00</p>
                            <p>Si se daña la carrocería del coche, lo máximo que pagarás por las reparaciones cubiertas por la cobertura parcial por colisión es la franquicia por daños (EUR 1.000,00).</p>
                        
                            <p><i class="fas fa-gas-pump"></i> Política de combustible: Depósito al mismo nivel</p>
                            <p>Al recoger el coche, el depósito de combustible estará lleno o parcialmente lleno. Deberás dejar un depósito para cubrir el coste del combustible: el personal del mostrador bloqueará este importe en tu tarjeta de crédito. </p>
                            <p><i class="fa fa-infinity"></i> Kilometraje: Ilimitado</p>
                            <p>El alquiler incluye kilómetro sin límites gratis.</p>
                        
                            <button onclick="closePopup()">Cerrar</button>
                        </div>
                        
                        <div id="overlay" class="overlay"></div>
                    </div>
                    <script src="/static/js/popinfo.js"></script>
                    <hr>  
        {% endif %}
    {% endif %}
        <!-- Tarjeta de detalles de vehículo (puedes repetir esto para cada vehículo) -->
        <div class="car-card">
            <h4 style="color: #ffffff;">Características del Auto</h4>
            <ul>
                 <p>{{ vehiculo.marca }} {{ vehiculo.modelo }}</p>
                <li><strong>Año:</strong> {{ vehiculo.año }}</li>
                <li><strong>Categoría:</strong> {{ vehiculo.categoria }}</li>
                <li><strong>Departamento:</strong> {{ vehiculo.departamento }}</li>
                <li><strong>Tarifa:</strong> {{ vehiculo.tarifa }}$</li>
            </ul>
            <!-- Contenedor para las imágenes y tarjetas de detalles de vehículos -->
            <div class="car-image-gallery">
                <ul class="image-gallery">
                    {% for imagen in imagenes_url %}
                    <li>
                        <a href="/{{ imagen }}" data-lightbox="gallery">
                            <img src="/{{ imagen }}" alt="Imagen del Auto" class="lightbox">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        
<script>
  // Inicializar el selector de fecha en los campos de fecha de inicio y fecha de finalización
  $(document).ready(function () {
      const fechaInicioInput = $("#fecha_inicio");
      const fechaFinInput = $("#fecha_fin");
      const totalInput = $("#total");

      fechaInicioInput.datepicker({
          dateFormat: 'yy-mm-dd',
          onClose: function (selectedDate) {
              fechaFinInput.datepicker("option", "minDate", selectedDate);
              fechaFinInput.focus(); // Enfocar automáticamente el campo de fecha de finalización
              actualizarTotal();
          }
      });
      fechaFinInput.datepicker({
          dateFormat: 'yy-mm-dd',
          minDate: 0,
          onClose: function (selectedDate) {
              actualizarTotal();
          }
      });

      // Agrega eventos de cambio para las fechas
      fechaInicioInput.change(actualizarTotal);
      fechaFinInput.change(actualizarTotal);

      // Actualiza el total al cargar la página
      actualizarTotal();
  });

  function actualizarTotal() {
    // Lógica para obtener las fechas y calcular el total
    const fechaInicio = $("#fecha_inicio").datepicker("getDate");
    const fechaFin = $("#fecha_fin").datepicker("getDate");

    if (fechaInicio !== null && fechaFin !== null) {
        // Calcula la diferencia en días
        const diasAlquiler = Math.ceil((fechaFin - fechaInicio) / (1000 * 60 * 60 * 24));
        const tarifaDiaria = parseFloat("{{ vehiculo.tarifa }}"); // Convierte la tarifa a un número
        const total = diasAlquiler * tarifaDiaria;

        // Actualiza el campo de total
        $("#total").val(total.toFixed(2));
    }
}

</script>

        <br><br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br>
        <br><br> <br>
        <br>
        <br>
        <!-- Footer -->
        <footer class="footer">
            <p>Conduciendo hacia tus sueños desde 2023 </p>
            <br>
            <a href="/info#quienes-somos">Quiénes Somos</a> | <a href="/info#testimonios">Testimonios</a> | <a
                href="/info#contacto">Contacto</a>
            <small>Tu auto, tu aventura.</small>
            <p>&copy; 2023 Rent Agile</p>
        </footer>
</body>
{% endblock %}
